<p id="notice"><%= notice %></p>

<%# displaying each image within listing%>
<% @listing.pictures.each do |picture| %>
  <%= image_tag picture %>

<% end %>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Product:</strong>
  <%= @listing.product %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @listing.condition %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @listing.buyer_id %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @listing.seller.profile.user_name %>
</p>

|

<%#if the game/ console listed is by the seller who is logged in show the edit button%>
<% if(current_user && current_user.profile && (current_user.profile.id == @listing.seller.id)) %>
  <%= link_to 'Edit', edit_listing_path(@listing) %> 
<% else %>
  <%# if the game/console has a buyer then provide sold button else show a buy button%>
  <% if @listing.buyer%>
    <button class="btn btn-danger">Sold</button>
  <% else %>
    <%# check if current user and they have a profile %>
    <% if current_user && current_user.profile %>
      <%= link_to "Buy", payment_path(listing_id: @listing.id), method: :post, class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>
<%= link_to 'Back', listings_path %>
